---
---
<section class="connecting-talent max-w-7xl mx-auto from-8% relative py-6 lg:py-20">
	<div class="max-w-[1006px] mx-auto text-center">
		<p class="gradient-text text-2xl lg:leading-[48px] f-700 mb-4">Conectando Talento con Oportunidades Laborales: Nuestra Metodología de entrenamiento y práctica.</p>
		<p class="text-sm lg:text-base leading-6 text-white"> Con una formación que integra lo técnico, lo humano y lo práctico, nuestros campers están listos para enfrentar los desafíos más grandes, liderando proyectos reales que marcan la diferencia desde el primer día. </p>
	</div>
	<div class="flex flex-wrap max-w-[1080px] mx-auto mt-14">
		<div class="w-full md:w-[45%] lg:w-[30%] m-4 border rounded-2xl border-[#F4B422] h-fit">
			<div class="flex items-center h-[72px] font-semibold text-[#00001A] bg-[#e2a727] rounded-t-2xl px-8">
				Aspecto
			</div>
			<div class="others-bgs flex flex-col gap-y-4 py-4 px-8 rounded-b-2xl h-fit">
				<ul class="min-h-[96px]">
					<li>Formación Integral</li>
				</ul>
				<hr class="green">
				<ul class="min-h-[96px]">
					<li>Metodología de Enseñanza</li>
				</ul>
				<hr class="green">
				<ul class="min-h-[96px]">
					<li>Proyectos con Impacto</li>
				</ul>
				<hr class="green">
				<ul class="min-h-[96px]">
					<li>Preparación para el empleo</li>
				</ul>
				<hr class="green">
				<ul class="min-h-[96px]">
					<li>Red de oportunidades</li>
				</ul>
			</div>
		</div>
		<div class="w-full md:w-[45%] lg:w-[30%] m-4 border rounded-2xl border-[#be8602] h-fit">
			<div class="flex items-center h-[72px] font-semibold text-[#00001A] bg-[#ca8f18] rounded-t-2xl px-8">
				Campers de alto nivel
			</div>
			<div class="others-bgs flex flex-col gap-y-4 py-4 px-4 rounded-b-2xl">
				<ul class="min-h-[96px]">
					<li>Combinamos técnicas, habilidades humanas y experiencia práctica.</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Entrenamiento intensivo guiado por expertos en desarrollo de software, metodologías ágiles.</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Proyectos con impacto directo en el mercado.</li>
					<li>Posibilidad de contratación con empresascolaboradoras.</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Entrenamos para la empleabilidad con un enfoque práctico,</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Conexión de empleo con empresas del exterior</li>
				</ul>
			</div>
		</div>
		<div class="w-full md:w-[45%] lg:w-[30%] m-4 border rounded-2xl border-[#be8602] h-fit">
			<div class="flex items-center h-[72px] font-semibold text-[#00001A] bg-[#faa30cda] rounded-t-2xl px-8">
				Otros programas de formación
			</div>
			<div class="others-bgs flex flex-col gap-y-4 py-4 px-4 rounded-b-2xl">
				<ul class="min-h-[96px]">
					<li>Mayor enfoque en lo técnico, sin profundizar tanto en habilidades blandas ni experiencias reales.</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Métodos tradicionales</li>
					<li>Menos experiencia en proyectos reales.</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Proyectos con Impacto</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Preparación para el empleo</li>
				</ul>
				<hr class="blue">
				<ul class="min-h-[96px]">
					<li>Red de oportunidades</li>
				</ul>
			</div>
		</div>
	</div>
	<img src="/img/textura-lateral-derecha.svg" alt="" class="absolute top-0 right-0">
	<img src="/img/textura-lateral-izquierda.svg" alt="" class="absolute top-0 left-0">
</section>

<style>
.aspect {
	background: linear-gradient(180deg, rgba(0, 170, 128, 0.8) 0%, rgba(0, 133, 101, 0.8) 32.13%, rgba(0, 107, 80, 0.8) 55.72%, rgba(0, 66, 50, 0.8) 96.14%);
}
.others-bgs {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55%, rgba(153, 153, 153, 0.08) 96%);
}

ul{
	list-style-type: disc;
	padding-left: 25px;
}
</style>