:root {
	--color-primary: #F4B422;
	--color-primary-action: #be8602;
	--Claro: #e2a727;
	--Medio: #ca8f18;
	--Oscuro: #faa30cda;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background: linear-gradient(3.14deg, rgb(64, 64, 64) -7.48%, #333333 1.99%, #262626 30.56%, #282828 92.78%, #282828 102.5%);
	scroll-behavior: smooth;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}